@import '../../styles/_variables.scss';

.dashboard-view {
  height: 100%;
  width: 100%;

  position: absolute;

  background-color: rgb(233, 233, 233);

  display: flex;
  flex-direction: column;

  align-items: center;

  left: 0;
  transition: left 0.5s ease-in-out;

  &.is-sliding-left {
    left: -100% !important;
  }

  .form-title {
    background-color: $accent;

    width: 100%;

    h1 {
      color: white;

      padding: 1.6rem;

      text-align: center;

      font-size: 2rem;
      font-weight: 400;
    }
  }

  .form-container-wrapper {
    width: 100%;
    height: 100%;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .form-container {
      flex-grow: 1;

      width: 100%;
      height: 100%;


      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        margin: 0;
        padding: 2rem;
      }

      @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;
        margin: 0 4rem;
        padding: 4rem;
      }
    }
  }
}