.evaluation-form-view {
  position: absolute;

  height: 100%;
  width: 100%;

  right: 0;
  transition: right 0.5s ease-in-out;

  &.is-sliding-right {
    right: -100% !important;
  }
}

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  gap: 24px;

  justify-content: space-between;

  width: 100%;
  max-width: 1680px;

  padding: 2rem 4rem;

  justify-content: stretch;
}

.progress-wrapper>* {
  flex: 1 1 0px;
  min-width: 0;
}